.orders__title{

}


.orders__title__addButton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #015b03;
    background-color: #018003;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 500;
}