
.navigation_menu__userImage{
    position: relative;
    width: 100px;
    height: 100px;
}

.navigation_menu__userImage img {
    object-fit: cover; /* Cover the entire container */
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navigation_menu__userImage div {
    width: 45px;
    height: 45px;
    bottom: -5px;
    right: -5px;
}

.navigation_menu__linkList a {
    transition: border-bottom .5s ease-out;
    border-bottom: 2px solid transparent; /* Initial state */
}

.navigation_menu__linkList_active a {
    border-bottom: 2px solid #198754; /* Active state */
}